* {
  font-family: "Chakra Petch";
  font-size: 14px;
  font-weigth: 500;
  -webkit-font-smoothing: none;
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
}

.window-override {
  height: fit-content !important;
  max-height: 500px !important;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 1px solid black;
  background-color: #b8afaf;
  background-image: url("./assets/images/scroll_img.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -webkit-crisp-edges; /* Webkit - Chrome, Safari */
  image-rendering: crisp-edges; /* Spec */
  image-rendering: pixelated; /* Chrome */
}
